# prefixキーをC-qに変更
{{- if eq .chezmoi.os "darwin" }}
unbind C-b
set -g prefix C-q
{{- end}}

# 基本設定
set -g escape-time 10
set -g focus-events on
set -g mouse on
setw -g mode-keys vi

# Pane移動 (Vim-like)
bind -r k select-pane -U
bind -r j select-pane -D
bind -r h select-pane -L
bind -r l select-pane -R

# Paneリサイズ
bind -r K resize-pane -U 5
bind -r J resize-pane -D 5
bind -r H resize-pane -L 5
bind -r L resize-pane -R 5

# 画面分割
bind - split-window -v -c "#{pane_current_path}"
bind = split-window -h -c "#{pane_current_path}"

# ステータスバー
set -g status-position top
set -g status-bg "#2e3440"
set -g status-fg "#d8dee9"
set -g status-left '#[fg=#3b4252,bg=#a3be8c,bold]#{?client_prefix,#[bg=#ebcb8b],} tmux #[default] '
set -g status-right ""
setw -g window-status-format "#[fg=#4c566a,bold]#S:#P"
setw -g window-status-current-format "#[fg=#3b4252,bg=#88c0d0,bold] #S:#P "

# Pane/Window外観
set -g window-active-style bg='#2e3440'
set -g pane-border-lines heavy

# 通知無効化
setw -g monitor-activity off
set -g visual-activity off

# クリップボード連携
set -g set-clipboard on
{{- if eq .chezmoi.os "darwin" }}
set-option -s copy-command 'pbcopy'
{{- else }}
set-option -s copy-command 'xsel -i'
{{- end }}
bind-key -T copy-mode-vi v { send-keys -X begin-selection }
bind-key -T copy-mode-vi C-v { send-keys -X rectangle-toggle }
bind-key -T copy-mode-vi y { send-keys -X copy-pipe }
bind-key -T copy-mode-vi Enter { send-keys -X copy-pipe }
